body{
    background-color: rgb(232, 245, 248);
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: white;
    height: 500px;
<<<<<<< HEAD
    width: 100%;
=======
    width: 1000px;
>>>>>>> 7e09306627ba1c0df123525aaa82a70d88166483
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    padding: 40px;
=======
>>>>>>> 7e09306627ba1c0df123525aaa82a70d88166483

    /* flex-shrink: 2; */
  

}

.header{
    text-align: center;
}

<<<<<<< HEAD
.h{
    font-size: 50px
}

.text{
    font-size: 30px;
}

.fa .fa-phone{
    color: white; background-color: rgb(29, 156, 235); font-size: 55px; padding: 5px; width: 50px; border-radius:8px;
}
form{
    width: 100%;
=======

form{
>>>>>>> 7e09306627ba1c0df123525aaa82a70d88166483
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.inline{
<<<<<<< HEAD
    width: 100%;
=======
>>>>>>> 7e09306627ba1c0df123525aaa82a70d88166483
    display: flex;
    gap: 20px;

}

<<<<<<< HEAD
.lable{
    font-size: 20px;
}
.name{
    display: flex;
    width: 50%;
    flex-direction: column;
}


.lable-massege{
    font-size: 20px; 
    margin-top: 30px;
}
.email{
    width: 50%;
=======
.name{
    display: flex;
    flex-direction: column;
}

.email{
>>>>>>> 7e09306627ba1c0df123525aaa82a70d88166483
    display: flex;
    flex-direction: column;
}

.item{
  
<<<<<<< HEAD
    /* width: 50%; */
=======
    width: 440px;
>>>>>>> 7e09306627ba1c0df123525aaa82a70d88166483
}



.message{
<<<<<<< HEAD
     width: 98%;
=======
     width: 900px;
>>>>>>> 7e09306627ba1c0df123525aaa82a70d88166483
   
}

.button{
    background-color: rgb(29, 156, 235);
    color: white;
    border: none;
    margin-top: 40px;
<<<<<<< HEAD
    width: 100%;
=======
    width: 900px;
>>>>>>> 7e09306627ba1c0df123525aaa82a70d88166483
    padding: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.button:hover{
    background-color: rgb(74, 189, 238);
<<<<<<< HEAD
}
/* 
.fa-phone{
    font-size: 20px;
}
 */





@media screen and (min-width: 320px){
    .inline{
       flex: unset;
    }
    .name , .email{
        display: block;
    }
}

@media screen and (min-width: 480px){


 
}

 @media screen and (min-width: 768px){

 }

  @media screen and (min-width: 1024px){}
=======
}
>>>>>>> 7e09306627ba1c0df123525aaa82a70d88166483
